$light-black: #545960;
$dark-pink: #9B0E78;
$link: #A7ABB1;
$dark-black: #0C0D0F;
$light-red: #E83939;
$white: #FFFFFF;
$button-show-now: #98BE33;
$light-silver: #979CA2;
$blackl: #030303;
$shop-now-bg-color: #8D046D;
$items-sales-bg: #FAFAFC;
$custom-name-color: #0F1012;
$light-green: #98BE33;
$input-field-color: #191B1F;