@import "../variables/variable.scss";

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Bold.woff2") format("woff2"),
    url("../fonts/TTHoves-Bold.woff") format("woff"),
    url("../fonts/TTHoves-DemiBold.woff2") format("woff2"),
    url("../fonts/TTHoves-DemiBold.woff") format("woff"),
    url("../fonts/TTHoves-Medium.woff2") format("woff2"),
    url("../fonts/TTHoves-Medium.woff") format("woff"),
    url("../fonts/TTHoves-Regular.woff2") format("woff2"),
    url("../fonts/TTHoves-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff"),
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Sadey Ann";
  src: url("../fonts/Sadey\ Ann\ W00\ Regular.woff2") format("woff2"),
    url("../fonts/Sadey\ Ann\ W00\ Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
body{font-family: "TT Hoves";font-size: 16px;font-style: normal;font-weight: normal;}
.custom-container{max-width: 1306px;margin: 0 auto;}
h1{font-size: 120px;}
h2{font-size: 100px;}
h3{font-size: 72px;}
h4{font-size: 34px;}
h5{font-size: 22px;}
h6{font-size: 20px;}
// header
#header{
    .header-container{
        max-width: 1696px;
        margin: 0 auto;
    }
    .navbar-brand{
        margin-right: 77px;
    }
    .nav-link{
        position: relative;
        padding: 52px 53px;
        border-right: 2px solid#EAEAEA;
        color: $light-black !important;
        font-size: 22px;
        line-height: 30px;
        font-weight: 500;
    }
    .nav-link:hover{
        color: $light-green !important;
    }
    .collections{
        border-left: 2px solid#EAEAEA;
    }
    .navbar{
        padding: 0;
    }
    .mobile-number {
        h4{
            color: $dark-pink;
            font-weight: 700;
            line-height: 42px;
            margin-bottom: 5px;
        }
        a{
            color: $link;
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;

        }
    }
    span.amount{
        position: absolute;
        top: 14px;
        font-size: 16px;
        color: $dark-black;
        font-weight: 500;
        line-height: 22px;
    }
    .amount.hot{
        color: $light-red;
    }
}
//Bannerr
#banner{
    position: relative;
    margin-bottom: 100px;
    .banner-body{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        max-width: 555px;
        h1{
            font-family: "Sadey Ann";
            line-height: 90px;
            color: $white;
            font-weight: 400;
        }
        h5{
            line-height: 28px;
            font-weight: 400;
            color: $white;
            margin-bottom: 54px;
        }
        .shop-now{
            padding: 21px 48px;
            border-radius: 0px 10px;
            color: $white;
            line-height: 24px;
            font-weight: 700;
            background-color: $button-show-now;
            border: 2px solid $button-show-now;
        }
        .shop-now:hover{
            opacity: 0.8;
        }
        .shop-now:focus{
            box-shadow: none;
        }
    }
}
//Category
#sample-category{
    margin-bottom: 120px;
    .category-btn{
        max-width: 100%;
        text-align: center;
        button{
            width: 200px;
            padding-top: 17px;
            padding-bottom: 17px;
            color: $white;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            background-color: $dark-pink;
            border-radius: 0 10px;
            margin-top: -15px;
            border: 2px solid $dark-pink;
        }
        button:hover{
            opacity: 0.8;
        }
        button:focus{
            box-shadow: none;
        }
    }
}
//FeatureProduct
#feature-product{
    margin-bottom: 120px;
    .feature-product-bg-img{
        background-image: url('../images/FeatureProduct.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .feature-product-wrapper{
        height: 100%;
        .body-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            max-width: 470px;
            margin-left: auto;
        }
        h1{
            font-family: "Sadey Ann";
            line-height: 72px;
            color: $white;
            font-weight: 400;
        }
        h6{
            color: $white;
            line-height: 30px;
            margin-bottom: 50px;
        }
        .shop-now{
            padding: 21px 48px;
            border-radius: 0px 10px;
            color: $white;
            line-height: 24px;
            font-weight: 700;
            background-color: $button-show-now;
            border: 2px solid $button-show-now;
            max-width: 200px;
        }
        .shop-now:hover{
            opacity: 0.8;
        }
        .shop-now:focus{
            box-shadow: none;
        }
    }
}
//salesItems
#sales-items{
    margin-bottom: 120px;
    .sales-items-container{
        max-width: 1520px;
        margin: 0 auto;
        background-color: $items-sales-bg;
        border: 10px;
        padding: 120px;
        .body-content{
            h2{
                line-height: 72px;
                color: $dark-black;
                font-family: "Sadey Ann";
                font-weight: 400;
            }
            h6{
                color: $light-silver;
                line-height: 30px;
                margin-bottom: 50px;
            }
            .shop-now{
                padding: 21px 48px;
                border-radius: 0px 10px;
                color: $white;
                line-height: 24px;
                font-weight: 700;
                background-color: $button-show-now;
                border: 2px solid $button-show-now;
                width: 200px;
            }
            .shop-now:hover{
                opacity: 0.8;
            }
            .shop-now:focus{
                box-shadow: none;
            }
        }
        .sales-items-wrapper{
            .sales-items{
                text-align: center;
                .img-price-wrapper{
                    position: relative;
                    .sales-items-img{
                        margin-bottom: 20px;
                    }
                    .sales-items-price{
                        position: absolute;
                        bottom: 4px;
                        width: 100%;
                    }
                    .sales-items-price{
                        .original-price{
                            font-size: 14px;
                            line-height: 19.2px;
                            color: $white;
                            font-family: "Poppins";
                            font-weight: 700;
                            background-color: $dark-black;
                            padding: 5px 10px;
                        }
                        .corssout-price{
                            margin-left: 6px;
                            font-family: "Poppins";
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 19.2px;
                            color: $light-red;
                        }
                    }
                }
                p{
                    line-height: 22px;
                    font-family: "Poppins";
                    margin-bottom: 10px;
                    color: $blackl;
                }
                .shop-now{
                    padding: 10px 22px;
                    font-size: 14px;
                    line-height: 11.08px;
                    color: $white;
                    font-family: "Poppins";
                    background-color: $shop-now-bg-color;
                    border: 2px solid $shop-now-bg-color;
                }
                .shop-now:hover{
                    opacity: 0.8;
                }
                .shop-now:focus{
                    box-shadow: none;
                }
            }
        }
        .col-sm-8 .sales-items-wrapper{
            padding-top: 16px;
        }
    }
}
//NewArrivals
#new-arrivals{
    margin-bottom: 120px;
    .new-arrivals-bg-img{
        background-image: url('../images/NewArrivals.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .new-arrivals-wrapper{
        height: 100%;
        .body-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            max-width: 470px;
            // margin-left: auto;
        }
        h1{
            font-family: "Sadey Ann";
            line-height: 72px;
            color: $white;
            font-weight: 400;
        }
        h6{
            color: $white;
            line-height: 30px;
            margin-bottom: 50px;
        }
        .shop-now{
            padding: 21px 48px;
            border-radius: 0px 10px;
            color: $white;
            line-height: 24px;
            font-weight: 700;
            background-color: $button-show-now;
            border: 2px solid $button-show-now;
            max-width: 200px;
        }
        .shop-now:hover{
            opacity: 0.8;
        }
        .shop-now:focus{
            box-shadow: none;
        }
    }
}
//LoadMoreProducts
#load-more-products{
    margin-bottom: 100px;
    .load-more-product-wrapper{
        .load-more-product-item{
            text-align: center;
            .img-price-wrapper{
                position: relative;
                .load-more-product-item-img{
                    margin-bottom: 20px;
                }
                .load-more-product-item-price{
                    position: absolute;
                    bottom: 4px;
                    width: 100%;
                    .original-price{
                        font-size: 14px;
                        line-height: 19.2px;
                        color: $white;
                        font-family: "Poppins";
                        font-weight: 700;
                        background-color: $dark-black;
                        padding: 5px 10px;
                    }
                }
            }
            p{
                line-height: 22px;
                font-family: "Poppins";
                margin-bottom: 15px;
                color: $blackl;
            }
            .shop-now{
                padding: 10px 22px;
                font-size: 14px;
                line-height: 11.08px;
                color: $white;
                font-family: "Poppins";
                background-color: $shop-now-bg-color;
                border: 2px solid $shop-now-bg-color;
                margin-bottom: 50px;
            }
            .shop-now:hover{
                opacity: 0.8;
            }
            .shop-now:focus{
                box-shadow: none;
            }
        }
    }
    .load-more{
        text-align: center;
        a{
            text-decoration: none;
            p{
                font-weight: 500;
                line-height: 22px;
                color: $light-silver;
                margin-bottom: 10px;
            }
        }
    }
}
//Advatisement
#advatisement{
    margin-bottom: 120px;
    .advatisement-body{
        position: relative;
        .text-heading{
            display: flex;
            justify-content: center;
            h1{
                font-family: "Sadey Ann";
                font-weight: 400;
                line-height: 84px;
                color: $white;
                max-width: 790px;
                position: absolute;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }
    }
}
//CustomerReviews
#customer-reviews{
    margin-bottom: 120px;
    h1{
        font-family: "Sadey Ann";
        font-weight: 400;
        line-height: 84px;
        color: $dark-black;
        text-align: center;
        margin-bottom: 50px;
    }
    .customer-review-wrapper{
        padding: 40px;
        background-color: $items-sales-bg;
        h6{
            color: $dark-black;
            line-height: 36px;
            margin-bottom: 30px;
        }
        .customer-img{
            margin-right: 16px;
        }
        .name-and-date{
            h6{
                line-height: 30px;
                font-weight: 700;
                color: $custom-name-color;
                margin-bottom: 4px;
            }
            p{
                color: $light-green;
                line-height: 36px;
            }
        }
    }
}
//Footer
#footer{
    padding-top: 80px;
    background-color: $dark-black;
    .footer-wrapper{
        .footer-logo{
            margin-bottom: 41px;
            padding-top: 17px;
        }
        h6{
            color: $light-silver;
            margin-bottom: 50px;
        }
        .footer-social-linkss{
            h6{
                color: $white;
                line-height: 30px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .footer-social-links-ul{
                padding: 0;
                list-style: none;
                li{
                    width: 50px;
                    height: 50px;
                    background-color: $white;
                    border-radius: 50%;
                    margin-right: 7px;
                    padding: 10px 13px;
                }
            }
        }
        h3{
            line-height: 36px;
            color: $white;
            font-family: "Sadey Ann";
            margin-bottom: 40px;
            text-align: center;
        }
        .footer--1{
            margin-right: 60px;
        }
        .footer-links{
            padding: 0;
            list-style: none;
            li{
                a{
                    color: $light-silver;
                    line-height: 54px;
                    font-weight: 500;
                    text-decoration: none;
                }
                a:hover{
                    color: $light-green;
                }
            }
        }
        .form-control{
            background-color: $input-field-color;
            border: 8px;
            margin-bottom: 10px;
            height: 60px;
        }
        .subscribe-btn{
            text-align: right;
            button{
                line-height: 24px;
                font-weight: 700;
                color: $white;
                padding: 21px 48px;
                background-color: $button-show-now;
                border: 2px solid $button-show-now;
            }
            button:hover{
                background-color: transparent;
                color: $light-green;
            }
        }
    }
    .hr-line{
        color: #2F3339;
        height: 1px;
        margin: 0;
        margin-top: 64px;
    }
    .all-right-services{
        text-align: center;
        p{
            padding: 30px 0;
            color: $light-silver;
            line-height: 28.8px;
            margin: 0;
        }
    }
}
//Media--Queries
@media (max-width: 1614.98px){
    #header{
        .nav-link{
            padding: 30px 30px !important;
        }
        .navbar-brand {
            margin-right: 50px;
        }
    }
}
@media (max-width: 1399.98px){
    #header{
        .navbar-brand {
            margin-right: 35px;
        }
        span.amount{
            top: 0px;
            right: 5px;
        }
        .mobile-number{
            h4{
                margin: 0;
                line-height: 25px;
            }
        }
    }
    h4{font-size: 30px;}
    #banner {
        .banner-body {
            .shop-now{
                padding: 15px 30px;
            }
        }
    }
    #feature-product {
        .feature-product-wrapper {
            .shop-now{
                padding: 15px 30px;
                max-width: 160px;
            }
        }
    }
    #sales-items {
        .sales-items-container {
            .body-content {
                .shop-now{
                    padding: 15px 30px;
                    width: 160px;
                }
            }
        }
    }
    #new-arrivals {
        .new-arrivals-wrapper {
            .shop-now{
                padding: 15px 30px;
                width: 160px;
            }
        }
    }
    #footer {
        .footer-wrapper {
            .subscribe-btn {
                button{
                    padding: 15px 30px;
                }
            }
        }
    }
}
@media (max-width: 1310.98px){
    #header{
        .nav-link{
            padding: 15px 20px !important;
        }
        .navbar-brand {
            margin-right: 15px;
        }
        span.amount{
            top: 0px;
            right: 5px;
        }
    }
    h4{font-size: 30px;}
}
@media (max-width: 1199.98px){
    #header{
        .nav-link{
            font-size: 18px !important;
            padding: 15px 14px !important;
        }
        .navbar-brand {
            margin-right: 12px;
        }
    }
    h4{font-size: 24px;}
}
@media (max-width: 991.98px){
    #header{
        span.amount{
            top: 0px;
            right: unset;
        }
        .navbar-toggler:focus{
            box-shadow: none;
        }
    }
    #customer-reviews {
        .customer-review-wrapper{
            height: 100%;
        }
    }
    #sample-category {
        .category-btn button{
           margin-bottom: 10px;
        }
    }
    h1{
        font-size: 90px;
    }
}
@media (max-width: 767.98px){
    #banner {
        margin-bottom: 30px;
        .banner-body h5 {
            margin-bottom: 20px;
        }
    }
    #sample-category{
        margin-bottom: 30px;
        
            .category-btn button{
               margin-bottom: 10px;
               padding-top: 8px;
    padding-bottom: 8px;
            }
        
    }
    #feature-product {
        margin-bottom: 30px;
        .feature-product-wrapper .body-content{
            max-width: unset;
            margin: unset;
        }
        .feature-product-img{
            text-align: center;
        }
        .feature-product-img img{
            width: 200px;
            margin-top: 10px;
        }
        .feature-product-wrapper h6{
            margin-bottom: 25px;
        }
        .feature-product-wrapper .shop-now{
            margin-bottom: 10px;
        }
    }
    #sales-items {
        margin-bottom: 30px;
        .sales-items-container{
            padding: 12px;
        }
        .sales-items-container .body-content h6{
            margin-bottom: 20px;
        }
        .sales-items-container .body-content .shop-now{
            margin-bottom: 20px;
        }
    }
    #new-arrivals{
        margin-bottom: 30px;
        .new-arrivals-img{
            text-align: center;
        }
        .new-arrivals-img img{
            width: 200px;
            margin-bottom: 10px;
        }
        .new-arrivals-wrapper .body-content{
            max-width: unset;
        }
        .new-arrivals-wrapper h6{
            margin-bottom: 20px;
        }
    }
    #load-more-products {
        margin-bottom: 30px;
        .load-more-product-wrapper .load-more-product-item .shop-now{
            padding: 6px 15px;
        }
        .load-more-product-wrapper .load-more-product-item .shop-now{
            margin-bottom: 20px;
        }
    }
    #advatisement {
        margin-bottom: 30px;
        .advatisement-body .text-heading h1{
            line-height: 60px;
        }
    }
    #customer-reviews{
        margin-bottom: 30px;
        .customer-review-wrapper{
            padding: 20px;
        }
    }
    #footer {
        .all-right-services p{
            padding: 10px 0;
        }
    }
    h1 {
        font-size: 80px;
    }
    h3 {
        font-size: 50px;
    }
}
@media (max-width: 575.98px){
    #banner {
        .banner-body h5{
            font-size: 17px;
            margin-bottom: 10px;
            line-height: 20px;
        }
        .banner-body h1 {
            line-height: 50px;
        }
         .banner-body .shop-now {
            padding: 5px 15px;
            font-size: 14px;
        }
    }
    #sample-category .category-wrapper{
        text-align: center;
    }
    #feature-product {
        .feature-product-wrapper h6 {
            margin-bottom: 10px;
            line-height: 20px;
        }
        .feature-product-wrapper .shop-now {
            padding: 6px 2px;
            max-width: 120px;
        }
    }
    #sales-items {
        .sales-items-container .body-content .shop-now {
            padding: 6px 10px;
            width: 120px;
        }
        .col-lg-4.col-sm-6{
            margin-bottom: 10px
        }
    }
    #new-arrivals {
        .new-arrivals-wrapper .shop-now {
            padding: 6px 10px;
            width: 120px;
        }
        .new-arrivals-wrapper h6{
            line-height: 20px;
        }
        
    }
    #customer-reviews {
        .customer-review-wrapper .name-and-date p{
            line-height: 7px;
        }
        .col-md-6{
            margin-bottom: 10px;
        }
    }
    #footer{
        padding-top: 30px;
        .footer-wrapper{
            text-align: center;
        }
        .footer-wrapper .subscribe-btn button {
            padding: 9px 20px;
        }
        .footer-social-links-ul{
            justify-content: center;
        }
    }
    h2 {
        font-size: 70px;
    }
    h1 {
        font-size: 60px;
    }
    h6 {
        font-size: 15px;
    }
    body{
        font-size: 14px;
    }
}
@media (max-width: 424.98px){
    #banner {
        .banner-body h5 {
            font-size: 13px;
            line-height: 16px;
        }
        .banner-body h1 {
            line-height: 34px;
        }
    }
    #advatisement{
        .advatisement-body .text-heading h1 {
            line-height: 40px;
        }
    }
    #customer-reviews {
        h1{
            margin-bottom: 10px;
        }
        .customer-review-wrapper h6{
            line-height: 22px;
        }
    }
    #footer {
        .footer-wrapper .form-control{
            height: 50px;
        }
        .footer-wrapper .footer-logo{
            margin-bottom: 10px;
        }
        .footer-wrapper h3{
            margin-bottom: 20px;
        }
        .footer-social-linkss{
            margin-bottom: 40px;
        }
        .footer-wrapper .footer-links li a{
            line-height: 34px;
        }
    }
    h1 {
        font-size: 48px;
    }
    h6 {
        font-size: 13px;
    }
}